.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 1000;
}

.modal-overlay.show {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-overlay.show .modal-palestrainfo-content {
  transform: scale(1);
  opacity: 1;
}

.modal-palestrainfo-content {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  opacity: 0;
  width: 60%;
  height: 90%;
  padding: 0;
  border-radius: 25px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  text-align: center;
  overflow: hidden;
}

.modal-palestrainfo-image {
  position: relative;
  height: 40%;
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-size: cover;
  background-position: center;
  padding: 16px;
  box-sizing: border-box;
}

.modal-palestra-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 15px;
}

.modal-palestra-info h1,
h2,
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  border-top: 2px solid #000;
}

.apresentacoes-area {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  justify-self: center;
  gap: 20px;
}

.modal-palestrainfo-scrollable {
  overflow-y: auto;
  padding: 1.5rem;
  flex: 1;
}
