.info-component {
  width: 25vw;
  height: 5vw;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.button-add-sessao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
