.palestra-cartao {
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  background: #2c2c3f;
  color: white;
  font-family: sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  cursor: pointer;
}

.palestra-cartao:hover {
  transform: translateY(-5px);
}

.palestra-cartao-info h2 {
  margin: 0;
}

.palestra-cartao-imagem {
  position: relative;
  height: 120px;
  margin: 10px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.palestra-titulo {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
}

.palestra-cartao-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  align-self: flex-start;
}

.palestra-nome {
  font-weight: bold;
  font-size: 18px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: box;
  line-clamp: 2;
  box-orient: vertical;
}

.palestra-meta {
  font-size: 14px;
  opacity: 0.9;
}

.palestra-cartao-info h4 {
  margin: 0;
  padding: 0;
  text-align: left;
}
