@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-corpo);
  outline: 0;
}

body {
  /* Usando a variável de tema para o fundo */
  background-color: var(--theme-background); 
  color: var(--theme-text); /* Cor do texto principal */
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100vh;
  box-sizing: border-box;
}

:root {
  /*Fontes*/
  --fonte-corpo: "Inter", sans-serif;

  /* Cores Base (Dark Theme) */
  --primary-brand: #7b2cbf; /* --second-color original */
  --secondary-brand: #3c096c; /* --dark-purple original */

  /* Variáveis de Tema Padrão (Tema ESCURO) */
  --theme-background: #060010;
  --theme-text: #fff;
  --theme-header-bg: #060010;
  --theme-card-bg: #1a0833; /* Uma cor levemente diferente do fundo */
  --theme-card-text: #fff;

  /* Cores Fixas (Preto/Branco) */
  --preto: #000;
  --branco: #fff;

  /*Paddings size*/
  --padding-2xs: 0.5rem;
  --padding-xs: 0.875rem;
  --padding-s: 1rem;
  --padding-m: 1.5rem;
  --padding-l: 2rem;
  --padding-xl: 3rem;
  --padding-2xl: 4rem;

  /*Height*/
  --height-2xs: 0.5rem;
  --height-xs: 0.875rem;
  --height-s: 1rem;
  --height-m: 1.5rem;
  --height-l: 2rem;
  --height-xl: 3rem;
  --height-2xl: 4rem;

  /*Margins size*/
  --margin-2xs: 0.5rem;
  --margin-xs: 0.875rem;
  --margin-s: 1rem;
  --margin-m: 1.5rem;
  --margin-l: 2rem;
  --margin-xl: 3rem;
  --margin-2xl: 4rem;

  /*Gaps size*/
  --gap-xs: 0.5rem;
  --gap-s: 1rem;
  --gap-m: 1.5rem;
  --gapl: 2rem;
  --gap-xl: 3rem;
  --gap-2xl: 4rem;

  /*Font Size*/
  --font-size-xl: 3.75rem;
  --font-size-l: 2rem;
  --font-size-m: 1.25rem;
  --font-size-b: 1rem;
  --font-size-s: 0.75rem;
  --font-size-mobile-l: 0.7rem;
  --font-size-mobile-m: 0.5rem;
  --font-size-mobile-s: 0.2rem;

  /*Image Size*/
  --img-size-xs: 3.75rem rem;
  --img-size-s: 5rem;
  --img-size-m: 7rem;
  --img-size-l: 10rem;
  --img-size-xl: 25rem;
}

/* NOVO BLOCO para o Tema CLARO */
[data-theme='light'] {
    --theme-background: #f0f0f5; /* Fundo Claro */
    --theme-text: #333333; /* Texto Escuro */
    --theme-header-bg: #FFFFFF; /* Header Branco */
    --theme-card-bg: #FFFFFF; /* Card Branco */
    --theme-card-text: #333333;
}


.modal-overlay.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-overlay.show .modal-content {
  transform: scale(1);
  opacity: 1;
}

.x-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
  background-color: white;
  border-radius: 50%;
}