.formulario {
  width: 100%;
  display: flex; 
  justify-content: center;
}

.formulario form {
  height: auto;
  max-width: 80%;
  background-color: #f2f2f2;
  padding: var(--padding-xl);

  border-radius: 2.1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.08);
  scrollbar-gutter: stable both-edges;
  
  position: relative; 
  margin-top: auto; 
  margin-bottom: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 2; 
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
}

canvas { 
    pointer-events: none !important;
    z-index: 1; 
}


.formulario h1,
.formulario h4 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: black;
}

.formulario h1 {
  font-size: var(--font-size-l, 1.5rem);
}
.formulario h4 {
  font-size: var(--font-size-m, 1rem);
}

form {
  align-items: center;
}

.SisEuLogo {
  width: var(--img-size-l);
  height: auto;
  display: block;
  margin: var(--margin-l) auto;
}
.inputs-login{
  color: black;
}

.btnAndAlert {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
}

@media (max-width: 412px) {
  .SisEuLogo {
    width: 75px;
    max-width: none;
    margin: 0 auto;
  }
  .formulario form {
    padding: var(--padding-s, 0.75rem);
    width: 94%;
    border-radius: 1.2rem;
  }
  .formulario h1 {
    font-size: var(--font-size-m, 1.25rem);
  }
  .formulario h4 {
    font-size: var(--font-size-mobile-l, 0.95rem);
  }
}

@media (min-width: 413px) and (max-width: 550px) {
  .SisEuLogo {
    width: 75px;
    margin: 0 auto;
  }
  .formulario form {
    padding: 1.25rem 1rem;
    width: 86%;
  }
  .formulario h4 {
    font-size: 1rem;
  }
}

@media (min-width: 551px) and (max-width: 768px) {
  .SisEuLogo {
    width: 120px;
  }
  .formulario form {
    padding: 1.5rem 1.25rem;
    width: 80%;
  }
  .formulario h4 {
    font-size: 1.1rem;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  .SisEuLogo {
    width: 150px;
  }
  .formulario form {
    padding: 2.25rem 1.75rem;
    width: 50%;
    max-width: 720px;
  }
  .formulario h4 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1171px) {
  .formulario form {
    max-width: 820px;
    width: 40%;
    padding: var(--padding-xl, 2.5rem);
  }
  .SisEuLogo {
    width: 8rem;
  }
}

@media (max-height: 750px) {
  .formulario form {
    max-height: calc(100vh - 2rem);
    padding-bottom: 1rem;
  }
  .SisEuLogo {
    width: 3rem;
  }
  .btnAndAlert {
    gap: 0.5rem;
  }
}